.bingo-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5px;       /* smaller vertical gap */
  column-gap: 12px;   /* keep horizontal gap */
  max-width: 800px;
  height: 80vh;
  margin: auto;
  padding: 16px;
}
