@font-face {
  font-family: 'Cheddar Gothic Rough Regular';
  src: url('assets/fonts/CheddarGothicRough-Regular.otf');
}

:root {
  font-family: 'Cheddar Gothic Rough Regular';
  line-height: 1.5;
  font-weight: 400;
  background-image: url('img/bg.png');
}